
@{
    ViewBag.Title = "Index";
}

<h1 style="text-align:center;">Orders</h1>

<br/>

<p  style="text-align:center;">Se está realizando la carga de datos de forma asíncrona, espere unos segundos antes de pulsar el botón...</p>

<br />

<div style="text-align:center;"><input type="button" onclick="location.href = '/ordenes';" value="Mostrar Órdenes" /></div>